{% load static %}

<!DOCTYPE html>
<html lang="en">
    <!--Auth: David Contreras-->
    <!--Settings: View, CSS, JS, Language-->
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" conent="IE=edge">
        <meta name="viewport" content="width=device=width, initial-scale=1.0">
        <title>Group 11: Rowdy Password Manager</title>
        <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
        <link rel='stylesheet' href="{% static 'style.css'%}">
        <script src="{% static 'main.js' %}" defer></script>
    </head>
    
    <body>
        <!--Header and Navigation-->
        <header>
            <nav>
                <div class="brand"><a href=""><i class="fa fa-lock" aria-hidden="true"></i>&nbsp; Rowdy Password Manager</a></div>
                <div class="rowdy"><img src="https://www.utsa.edu/_files/home/images/ctas/featured/rowdy-white.png" alt="UTSA Class Project" style="display: block; margin-left: auto; margin-right: auto;"></div>
                <ul>
                    <li><a href="">Passwords</a></li>
                    {% if request.user.is_anonymous %}
                        <li><a href="javascript:;" onclick="displayModal('login-modal');">Login</a></li>
                        <li><a href="javascript:;" onclick="displayModal('registration-modal');">Register</a></li>
                    {% else %}
                        <li><a href="javascript:;" onclick="displayModal('create-password-modal');">Create</a></li>
                        <li><a href="javascript:;" onclick="document.getElementById('logout-btn').click();">Logout</a></li>
                            <form hidden="true" action="." method="POST">
                                <!-- Cross Site Request Forgery Protection-->
                                {% csrf_token %}
                                <input type="submit" id="logout-btn" name="logout">
                            </form>
                    {% endif %}
                </ul>
            </nav>
        </header>

        <!--Display Django Messages-->
        {% if messages %}
            <div class="messages" style="text-align: center">
                {% for message in messages %}
                    <p>
                        {% if message.tags == "error" %}
                            <i class ="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            {% else %}
                            <i class ="fa fa-check" aria-hidden="true"></i>
                        {% endif %}
                        &nbsp;{{message}}
                    </p>
                {% endfor %}
            </div>
        {% endif %}
        
        <!--Confirmation Email-->
        {% if code %}
            <div style="text-align: center;">
                <form action="." role="form" method="POST">
                    {% csrf_token %}
                    <H2>Confirmation Code</h2>
                    <p>For security reasons please check your email for a confirmation code from group11.appmananger@gmail.com.</p>
                    <input type="text" name="code" placeholder="6 digit confirmation code" style="width: auto;">
                    <input type="text" hidden="true" name="user" value="{{user.username}}">
                    <input type="submit" class="button"  name="confirm" value="Confirm" style="width: auto;">
                </form>
            </div>
        {% endif %}

        <!--Django Modals-->
        <div class="modals-wrapper">
            <span id="close-modal" title="close"><i class="fa fa-times" aria-hidden="true"></i></span>
            
            <!--login modal-->
            <div class="modal" id="login-modal">
                <form action="." role="form" method="POST">
                    {% csrf_token %}
                    <h2>Login</h2>
                    <input type="text" name="username" placeholder="username">
                    <input type="password" name="password" placeholder="password"><br>
                    <input type="submit" class="button" name="login" value="Login"  style="width: auto;">
                </form>
            </div>

            <!--Registration modal-->
            <div class="modal" id="registration-modal">
                <form action="." role="form" method="POST">
                    {% csrf_token %}
                    <h2>Sign Up</h2>
                    <input type="text" name="username" placeholder="username">
                    <input type="email" name="email" placeholder="email">
                    <input type="password" name="password" placeholder="password">
                    <input type="password" name="confirmPassword" placeholder="confirm password"><br>
                    <input type="submit" class ="button" name="register" value="Register"  style="width:auto;">
                </form>
            </div>

            <!--Create Password modal-->
            <div class="modal" id="create-password-modal">
                <form action="." role="form" method="POST">
                    {% csrf_token %}
                    <h2>Generate New Password</h2>
                    <br>
                    <p style="color:white;">Link to login page of this password:</p>
                    <input type="text" name="url" placeholder="link to website">
                    <p style="color:white;">Enter email address used on this site:</p>
                    <input type="email" name="email" placeholder="email">
                    <p style="color:white;">Enter a date/phrase: </p>
                    <input type="password" name="passphrase" placeholder="passphrase">
                    <p style="color:white;">Include the following in my password:</p>
                    <div>
                        <label for="n_box1" style="width: auto; align-content: start; "><input type="radio" name="numbersBoolean" value="True" id="n_box1"style="width: auto; align-content: start; ">Use Numbers</label>
                        <label for="n_box2" style="width: auto; align-content: start; "><input type="radio" name="numbersBoolean" value="False" id="n_box2" style="width: auto; align-content: start; ">No Numbers</label><br>
                        <label for="c_box1" style="width: auto; align-content: start; "><input type="radio" name="capitalsBoolean" value="True" id="c_box1"style="width: auto; align-content: start; ">Use Capitals</label>
                        <label for="c_box2" style="width: auto; align-content: start; "><input type="radio" name="capitalsBoolean" value="False" id="c_box2" style="width: auto; align-content: start; ">No Capitals</label><br>
                        <label for="s_box1" style="width: auto; align-content: start; "><input type="radio" name="symbolsBoolean" value="True" id="s_box1"style="width: auto; align-content: start; ">Use Symbols</label>
                        <label for="s_box2" style="width: auto; align-content: start; "><input type="radio" name="symbolsBoolean" value="False" id="s_box2" style="width: auto; align-content: start; ">No Symbols</label><br>

                        <input type="submit" class="button" name="add-password" value="Create Password"  style="width:auto;">
                    </div>
                </form>
            </div>

        </div> <!--End of Modals-->

        <div class="container">
            <!--Account Card Template-->
            {% for password in passwords %}
            <div class="card">
                <!--Delete Option for Password-->
                <h3><a href="javascript:;" style="color: black; :hover: white;" onclick="document.getElementById('delete-btn{{password.id}}').click();">Delete</a></h3>
                    <form hidden="true" action="." method="POST">
                        {% csrf_token %}
                        <input type="text" hidden="true" name="password_id" value="{{password.id}}">
                        <input type="submit" id="delete-btn{{password.id}}" name="delete">
                    </form>
                <img width="48" height="48" src="{{password.URL_logo}}" alt="">
                <!--Show URL password is for-->
                <div class="name" style="text-align:center;">{{password.name}}</div>
                <!--Show email and clipboard icon-->
                <div>
                    <br><br>
                    <p>Email:</p>
                    <input type="email" name="email" value="{{password.email}}" style="width:112px;">
                    <i class="fas fa-copy copy" title="copy to clipboard"></i>
                </div>
                <!--Show password and clipboard icon-->
                <div>
                    <p>Password:</p>
                    <input type="password" name="username" value="{{password.password}}" style="width:112px;">
                    <i class="fas fa-copy copy" title="copy to clipboard"></i>
                </div>
            </div> <!--End of Account Card Template-->
            {% endfor %}
        </div> <!-- end of container -->

    </body>
</html>